#contact
	+mediaQuery($medium)
	text-align: center
	background: $teal
	.flex-container
		flex-direction: column
		+mediaQuery($medium)
			padding-top: 200px
			flex-direction: row
		margin: 0 auto
		max-width: 100%
		padding: 100px 0 0
		+mediaQuery($medium)
			max-width: 90%
	h3
		font-size: 16px
		+mediaQuery($medium)
			padding: 0
			font-size: 24px
	img
		margin: 30px auto
		max-width: 90%
		+mediaQuery($large)
			max-width: 50%
