#contact
	+mediaQuery($medium)
	text-align: center
	background: $teal
	h3
		font-size: 16px
		+mediaQuery($medium)
			padding: 0
			font-size: 24px
	.flex-container
		flex-direction: column
		+mediaQuery($medium)
			padding-top: 200px
			flex-direction: row
		margin: 0 auto
		max-width: 100%
		padding: 100px 0 0
		a
			padding: 0 20px
			+mediaQuery($large)
				padding: 0 30px 0 0
	img
		margin: 30px auto
		max-width: 70%
