head
  meta(charset='utf-8')
  meta(name='description' content='This is my Front End Web Developer Portfolio. I create single page apps on OSX using Atom.io, NPM, Terminal, & Git. I use JavaScript, jQuery, AJAX, APIs, NPM scripts, Webpack, Sass, Pug, & Bootstrap. I live in Brazoria County and I\'m looking to do work in the Houston area')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  link(rel='stylesheet', href='css/normalize.css')
  link(rel='stylesheet', href='css/style.css')
  link(href='images/favicon.ico', rel='icon', type='image/x-icon')
  title Brandon Patterson
