nav
  a.nav-title(href='#portfolio') Brandon Patterson
  a.nav-landing(href='/') Home
  a.nav-port(href='#portfolio') Portfolio
  a.nav-about(href='#about') About
  a.nav-contact(href='#contact') Contact
.background
