nav
  a#nav-title(href='#portfolio') Brandon Patterson
  a#nav-home(href='#home') Home
  a#nav-port(href='#portfolio') Portfolio
  a#nav-about(href='#about') About
  a#nav-contact(href='#contact') Contact
