#contact
	margin: 0 auto
	padding-top: 300px
	text-align: center
	background: $teal
	.flex-container
		flex-direction: row
		margin: 0 auto
		max-width: 100%
		padding: 100px 0 0
		+mediaQuery($medium)
			max-width: 70%
	h2
		font-size: 16px
		+mediaQuery($medium)
			font-size: 26px
	img
		margin: 30px auto
		max-width: 90%
		+mediaQuery($large)
			max-width: 50%
