#portfolio
	background: $teal
	padding: 0
	+mediaQuery($medium)
		padding: 50px 0 100px 0
	.flex-container
		flex-direction: row
		flex-wrap: wrap
		margin: 0 auto
		max-width: 90%
		+mediaQuery($medium)
			max-width: 80%
		.product-img
			width: 100%
			height: 225px
			&:hover
				opacity: 0.8
			+mediaQuery($medium)
				width: 400px
		p
			letter-spacing: 2px
			text-align: center
			padding: 20px 0 100px
