#portfolio
	padding: 0 0 100px 0
	background: $teal
	.flex-container
		flex-direction: row
		flex-wrap: wrap
		margin: 0 auto
		max-width: 80%
		.product-img
			height: 250px
			padding: 5%
			&:hover
				opacity: 0.8
			+mediaQuery($medium)
				width: 400px
		p
			text-align: center
